In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('survey_results.csv')
print(df.shape)
df.head()

(30010, 17)

,respondent_id,age,gender,zone,occupation,income_levels,consume_frequency(weekly),current_brand,preferable_consumption_size,awareness_of_other_brands,reasons_for_choosing_brands,flavor_preference,purchase_channel,packaging_preference,health_concerns,typical_consumption_situations,price_range
0,R00001,30,M,Urban,Working Professional,<10L,3-4 times,Newcomer,Medium (500 ml),0 to 1,Price,Traditional,Online,Simple,Medium (Moderately health-conscious),"Active (eg. Sports, gym)",100-150
1,R00002,46,F,Metro,Working Professional,> 35L,5-7 times,Established,Medium (500 ml),2 to 4,Quality,Exotic,Retail Store,Premium,Medium (Moderately health-conscious),Social (eg. Parties),200-250
2,R00003,41,F,Rural,Working Professional,> 35L,3-4 times,Newcomer,Medium (500 ml),2 to 4,Availability,Traditional,Retail Store,Premium,Medium (Moderately health-conscious),"Active (eg. Sports, gym)",200-250
3,R00004,33,F,Urban,Working Professional,16L - 25L,5-7 times,Newcomer,Medium (500 ml),0 to 1,Brand Reputation,Exotic,Online,Eco-Friendly,Low (Not very concerned),"Active (eg. Sports, gym)",150-200
4,R00005,23,M,Metro,Student,NaN,3-4 times,Established,Medium (500 ml),0 to 1,Availability,Traditional,Online,Premium,Medium (Moderately health-conscious),"Active (eg. Sports, gym)",50-100

In [ ]:
df.drop([''])

In [128]:
df_temp=pd.read_csv('survey_results.csv')

In [129]:
df_temp['consume_frequency(weekly)'].value_counts()

consume_frequency(weekly)
3-4 times    11795
5-7 times     9777
0-2 times     8430
Name: count, dtype: int64

In [130]:
df.shape

(30010, 17)

In [131]:
df=df.drop_duplicates()

In [132]:
df['age'].describe()

count    30000.000000
mean        33.048167
std         13.438904
min         18.000000
25%         23.000000
50%         31.000000
75%         40.000000
max        604.000000
Name: age, dtype: float64

In [133]:

# 2. Calculate IQR to identify potential statistical outliers
Q1 = df['age'].quantile(0.25)
Q3 = df['age'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print(f"\nQ1 (25th percentile): {Q1}")
print(f"Q3 (75th percentile): {Q3}")
print(f"IQR (Interquartile Range): {IQR}")
print(f"Lower bound for statistical outliers (Q1 - 1.5*IQR): {lower_bound}")
print(f"Upper bound for statistical outliers (Q3 + 1.5*IQR): {upper_bound}")

Q1 (25th percentile): 23.0
Q3 (75th percentile): 40.0
IQR (Interquartile Range): 17.0
Lower bound for statistical outliers (Q1 - 1.5*IQR): -2.5
Upper bound for statistical outliers (Q3 + 1.5*IQR): 65.5

In [134]:
df[(df['age'] < 70) & (df['age'] > 65) ].shape

(390, 17)

In [135]:
df.shape

(30000, 17)

In [136]:
df[df['age']>100]

,respondent_id,age,gender,zone,occupation,income_levels,consume_frequency(weekly),current_brand,preferable_consumption_size,awareness_of_other_brands,reasons_for_choosing_brands,flavor_preference,purchase_channel,packaging_preference,health_concerns,typical_consumption_situations,price_range
3099,R03098,453,M,Metro,Working Professional,26L - 35L,3-4 times,Established,Medium (500 ml),2 to 4,Brand Reputation,Traditional,Retail Store,Premium,Medium (Moderately health-conscious),Social (eg. Parties),200-250
6262,R06260,428,M,Urban,Entrepreneur,16L - 25L,5-7 times,Established,Large (1 L),above 4,Quality,Exotic,Online,Simple,High (Very health-conscious),Social (eg. Parties),200-250
12403,R12398,604,M,Metro,Retired,<10L,0-2 times,Newcomer,Small (250 ml),2 to 4,Availability,Traditional,Online,Simple,Medium (Moderately health-conscious),Casual (eg. At home),100-150
22549,R22542,457,M,Metro,Working Professional,16L - 25L,3-4 times,Newcomer,Small (250 ml),2 to 4,Price,Traditional,Online,Premium,High (Very health-conscious),Casual (eg. At home),200-250
22918,R22911,267,F,Metro,Working Professional,16L - 25L,3-4 times,Established,Medium (500 ml),above 4,Brand Reputation,Exotic,Online,Eco-Friendly,Low (Not very concerned),"Active (eg. Sports, gym)",150-200
24958,R24950,285,M,Semi-Urban,Working Professional,> 35L,0-2 times,Newcomer,Small (250 ml),2 to 4,Price,Traditional,Online,Simple,Medium (Moderately health-conscious),"Active (eg. Sports, gym)",150-200
24960,R24952,192,F,Urban,Student,NaN,3-4 times,Newcomer,Medium (500 ml),0 to 1,Price,Traditional,Online,Simple,Low (Not very concerned),"Active (eg. Sports, gym)",50-100
25105,R25096,203,M,Metro,Working Professional,16L - 25L,0-2 times,Established,Small (250 ml),2 to 4,Brand Reputation,Exotic,Retail Store,Premium,High (Very health-conscious),"Active (eg. Sports, gym)",150-200
28770,R28761,428,F,Rural,Working Professional,26L - 35L,0-2 times,Established,Small (250 ml),2 to 4,Brand Reputation,Exotic,Online,Simple,Medium (Moderately health-conscious),Casual (eg. At home),150-200

In [137]:
df.isna().sum()

respondent_id                        0
age                                  0
gender                               0
zone                                 0
occupation                           0
income_levels                     8061
consume_frequency(weekly)            8
current_brand                        0
preferable_consumption_size          0
awareness_of_other_brands            0
reasons_for_choosing_brands          0
flavor_preference                    0
purchase_channel                    10
packaging_preference                 0
health_concerns                      0
typical_consumption_situations       0
price_range                          0
dtype: int64

In [138]:
df['income_levels'].value_counts()

income_levels
16L - 25L    5901
10L - 15L    5251
<10L         4662
26L - 35L    3874
> 35L        2251
Name: count, dtype: int64

In [139]:
df['income_levels'].fillna("Not Reported", inplace=True)

C:\Users\Vinay S\AppData\Local\Temp\ipykernel_15968\3412502329.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['income_levels'].fillna("Not Reported", inplace=True)

In [140]:
df['income_levels'].value_counts()

income_levels
Not Reported    8061
16L - 25L       5901
10L - 15L       5251
<10L            4662
26L - 35L       3874
> 35L           2251
Name: count, dtype: int64

In [142]:
df['consume_frequency(weekly)'].value_counts()

consume_frequency(weekly)
3-4 times    11790
5-7 times     9775
0-2 times     8427
Name: count, dtype: int64

In [143]:
mode=df['consume_frequency(weekly)'].mode()

In [144]:
df['consume_frequency(weekly)'].fillna(mode.item(),inplace=True)

C:\Users\Vinay S\AppData\Local\Temp\ipykernel_15968\2373344811.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['consume_frequency(weekly)'].fillna(mode.item(),inplace=True)

In [145]:
df['consume_frequency(weekly)'].value_counts()

consume_frequency(weekly)
3-4 times    11798
5-7 times     9775
0-2 times     8427
Name: count, dtype: int64

In [146]:
df['purchase_channel'].value_counts()

purchase_channel
Online          16569
Retail Store    13421
Name: count, dtype: int64

In [147]:
mode=df['purchase_channel'].mode()

In [103]:
mode

0    Online
Name: purchase_channel, dtype: object

In [148]:
df['purchase_channel'].fillna(mode.item(),inplace=True)

C:\Users\Vinay S\AppData\Local\Temp\ipykernel_15968\2951694459.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['purchase_channel'].fillna(mode.item(),inplace=True)

In [149]:
df[df['purchase_channel'].isna()]

Empty DataFrame
Columns: [respondent_id, age, gender, zone, occupation, income_levels, consume_frequency(weekly), current_brand, preferable_consumption_size, awareness_of_other_brands, reasons_for_choosing_brands, flavor_preference, purchase_channel, packaging_preference, health_concerns, typical_consumption_situations, price_range]
Index: []

In [150]:
df.isna().sum()

respondent_id                     0
age                               0
gender                            0
zone                              0
occupation                        0
income_levels                     0
consume_frequency(weekly)         0
current_brand                     0
preferable_consumption_size       0
awareness_of_other_brands         0
reasons_for_choosing_brands       0
flavor_preference                 0
purchase_channel                  0
packaging_preference              0
health_concerns                   0
typical_consumption_situations    0
price_range                       0
dtype: int64

In [151]:
df['zone'].value_counts()

zone
Metro         11911
Urban         10688
Semi-Urban     5275
Rural          2117
urbna             5
Metor             4
Name: count, dtype: int64

In [152]:
zone_corrections = {
    'Metor': 'Metro',
    'urbna': 'Urban'
}

# Apply the corrections
df['zone'] = df['zone'].replace(zone_corrections)

In [153]:
df['zone'].value_counts()

zone
Metro         11915
Urban         10693
Semi-Urban     5275
Rural          2117
Name: count, dtype: int64

In [154]:
df['current_brand'].value_counts()

current_brand
Established    15447
Newcomer       14503
newcomer          30
Establishd        20
Name: count, dtype: int64

In [155]:
zone_corrections = {
    'newcomer': 'Newcomer',
    'Establishd': 'Established'
}

# Apply the corrections
df['current_brand'] = df['current_brand'].replace(zone_corrections)

In [156]:
df['current_brand'].value_counts()

current_brand
Established    15467
Newcomer       14533
Name: count, dtype: int64

In [157]:
dff=df

In [158]:
bins = [18, 26, 36, 46, 56, 71, float('inf')]

# Define the labels for the age groups
labels = ['18-25', '26-35', '36-45', '46-55', '56-70', '70+']

# Create the 'age_group' column using pd.cut()
# pd.cut is used to segment and sort data values into bins.
df['age_group'] = pd.cut(df['age'], bins=bins, labels=labels, right=False)

In [159]:
df['age_group'].isnull().sum()

np.int64(0)

In [160]:
df['consume_frequency(weekly)'].value_counts()

consume_frequency(weekly)
3-4 times    11798
5-7 times     9775
0-2 times     8427
Name: count, dtype: int64

In [161]:
df['awareness_of_other_brands'].value_counts()

awareness_of_other_brands
0 to 1     12967
2 to 4     11231
above 4     5802
Name: count, dtype: int64

In [162]:
frequency_mapping = {
    "0-2 times": 1,
    "3-4 times": 2,
    "5-7 times": 3
}

awareness_mapping = {
    "0 to 1": 1,
    "2 to 4": 2,
    "above 4": 3
}

In [164]:
df['frequency_score'] = df['consume_frequency(weekly)'].map(frequency_mapping)
df['awareness_score'] = df['awareness_of_other_brands'].map(awareness_mapping)

In [166]:
df['cf_ab_score'] = df.apply(
    lambda row: row['frequency_score'] / (row['frequency_score'] + row['awareness_score']),
    axis=1
)

In [170]:
df['cf_ab_score'] = df['cf_ab_score'].round(2)

In [172]:
df['cf_ab_score'].max()

0.75

In [174]:
df['income_levels'].value_counts()

income_levels
Not Reported    8061
16L - 25L       5901
10L - 15L       5251
<10L            4662
26L - 35L       3874
> 35L           2251
Name: count, dtype: int64

In [175]:
zone_mapping = {
    "Urban": 3,
    "Metro": 4,
    "Rural": 1,
    "Semi-Urban": 2
}

income_mapping = {
    "<10L": 1,
    "10L - 15L": 2,  # Corrected for potential spaces in original data
    "16L - 25L": 3,  # Corrected for potential spaces in original data
    "26L - 35L": 4,  # Corrected for potential spaces in original data
    "> 35L": 5,      # Corrected for potential space after '>'
    "Not Reported": 0       
}

In [176]:
df['zone_score'] = df['zone'].map(zone_mapping)
df['income_score'] = df['income_levels'].map(income_mapping)

In [178]:
df['zone_score'].isna().sum()

np.int64(0)

In [179]:
df['zas_score'] = df['zone_score'] * df['income_score']

In [184]:
len(df['zas_score'].unique())

14

In [186]:
df['current_brand'].value_counts()

current_brand
Established    15467
Newcomer       14533
Name: count, dtype: int64

In [187]:
df['reasons_for_choosing_brands'].value_counts()

reasons_for_choosing_brands
Price               14141
Availability         6591
Brand Reputation     4665
Quality              4603
Name: count, dtype: int64

In [189]:
condition_brand_not_established = df['current_brand'] != 'Established'

# Condition 2: reasons_for_choosing_brands are either "Price" or "Quality"
condition_reason_price_or_quality = df['reasons_for_choosing_brands'].isin(['Price', 'Quality'])

# Create the 'bsi' column
# Assign 1 if both conditions are true, otherwise 0
df['bsi'] = ((condition_brand_not_established) & (condition_reason_price_or_quality)).astype(int)

In [191]:
df[['current_brand','reasons_for_choosing_brands','bsi']].sample(10)

      current_brand reasons_for_choosing_brands  bsi
28419   Established            Brand Reputation    0
12922   Established                       Price    0
2949       Newcomer                       Price    1
5834       Newcomer                Availability    0
5776    Established                       Price    0
10303      Newcomer                       Price    1
3928       Newcomer                       Price    1
29773   Established                       Price    0
2979    Established                       Price    0
22878      Newcomer                     Quality    1

In [195]:
logical_outliers = df[
    (df['occupation'] == 'Student') &
    (df['age'] >= 56)
]

logical_outliers.shape[0]

36

In [199]:
logical_temp = df[
    (df['age'] > 70)
]

logical_temp.shape[0]

9

In [193]:
df.shape

(30000, 25)

In [200]:
30000-9-35

29956

In [202]:
df_cleaned = df[
    ~((df['occupation'] == 'Student') &
      (df['age'] >= 56) &
      (df['age'] <= 70))
].copy()

In [208]:
df_cleaned1 = df_cleaned[
    ~((df['age'] > 70))
].copy()

C:\Users\Vinay S\AppData\Local\Temp\ipykernel_15968\997523457.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_cleaned1 = df_cleaned[

In [209]:
df_cleaned1.shape

(29956, 25)

In [210]:
df_cleaned.shape

(29965, 25)

In [211]:
df_cleaned1['bsi'].value_counts()

bsi
0    20796
1     9160
Name: count, dtype: int64

In [214]:
df_cleaned1.to_csv('cleaned.csv',index=False)

In [215]:
check=pd.read_csv('cleaned.csv')
print(check.shape)
check.head()

(29956, 25)

,respondent_id,age,gender,zone,occupation,income_levels,consume_frequency(weekly),current_brand,preferable_consumption_size,awareness_of_other_brands,...,typical_consumption_situations,price_range,age_group,frequency_score,awareness_score,cf_ab_score,zone_score,income_score,zas_score,bsi
0,R00001,30,M,Urban,Working Professional,<10L,3-4 times,Newcomer,Medium (500 ml),0 to 1,...,"Active (eg. Sports, gym)",100-150,26-35,2,1,0.67,3,1,3,1
1,R00002,46,F,Metro,Working Professional,> 35L,5-7 times,Established,Medium (500 ml),2 to 4,...,Social (eg. Parties),200-250,46-55,3,2,0.60,4,5,20,0
2,R00003,41,F,Rural,Working Professional,> 35L,3-4 times,Newcomer,Medium (500 ml),2 to 4,...,"Active (eg. Sports, gym)",200-250,36-45,2,2,0.50,1,5,5,0
3,R00004,33,F,Urban,Working Professional,16L - 25L,5-7 times,Newcomer,Medium (500 ml),0 to 1,...,"Active (eg. Sports, gym)",150-200,26-35,3,1,0.75,3,3,9,0
4,R00005,23,M,Metro,Student,Not Reported,3-4 times,Established,Medium (500 ml),0 to 1,...,"Active (eg. Sports, gym)",50-100,18-25,2,1,0.67,4,0,0,0